.order-images {
  &__container {
    border-top: 1px solid var(--summary-border);
    padding-top: 1rem;
  }

  &__label {
    color: var(--black);
    font-size: 18px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__box-item {
    position: relative;
    overflow: hidden;
    width: 30%;
    min-width: 100px;
    max-width: 150px;
    aspect-ratio: 1 / 1;
    // flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--devider-color);

    &-overlay {
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: 0.4s;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      
      button {
        color: #fff;
      }
    }
  }

  .order-images__box-item.order-images__box-item--img-box:hover
    .order-images__box-item-overlay {
    opacity: 1;

  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__image-loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-width: 2px;
    background-color: var(--primary-bg);
    border-color: var(--secondary-text);
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: var(--black);
  }

  &__image-preview {
    height: 60vh;
    position: relative;

    img {
      object-fit: contain;
    }
  }
}
